* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 20px;
  background: #eaeaea;
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.caption-btn__wrapper {
  display: flex;
  width: 90%;
  height: 5em;
  background-color: white;
}

/* ====== image slider ======  */
.slider__wrap {
  width: 90%;
  overflow: hidden;
}

.slider__img-wrap {
  display: flex;
  width: 100%;
  transition: margin-left .5s cubic-bezier(0.770, 0.000, 0.175, 1.000)
}

.slider__img-wrap > img {
  width: 100%;
}

input[type=radio] {
  display: none;
}

.controls-wrap {
  padding: 0.5%;
  display: flex;
  width: 30%;
  height: 1em;
}

.slider__controls {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.slider__controls > label {
  width: 0.8em;
  height: 0.8em;
  border: 3px solid #8a817c;
  border-radius: 50%;
  transition: .2s;
}
.slider__controls > label:hover {
  background-color:  #bcb8b1;
  cursor: pointer;
}

.container input:nth-child(1):checked ~ .caption-btn__wrapper label:nth-child(1),
.container input:nth-child(2):checked ~ .caption-btn__wrapper label:nth-child(2),
.container input:nth-child(3):checked ~ .caption-btn__wrapper label:nth-child(3),
.container input:nth-child(4):checked ~ .caption-btn__wrapper label:nth-child(4) 
{
  background-color: #8a817c;
}

#btn1:checked ~ .slider__wrap .slider__img-wrap {
  margin-left: -0%;
}
#btn2:checked ~ .slider__wrap .slider__img-wrap {
  margin-left: -100%;
}
#btn3:checked ~ .slider__wrap .slider__img-wrap {
  margin-left: -200%;
}
#btn4:checked ~ .slider__wrap .slider__img-wrap {
  margin-left: -300%;
}

/* ====== captions slider ======  */
.slider__captions {
  width: 70%;
  overflow: hidden;
}

.caption__wrap {
  padding: 0.5%;
  display: flex;
  width: 100%;
  transition: margin-left .5s cubic-bezier(0.770, 0.000, 0.175, 1.000)
}

.captions {
  flex-shrink: 0;
  flex-basis: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #463f3a;
}


#btn1:checked ~ .caption-btn__wrapper .caption__wrap {
  margin-left: -0%;
}
#btn2:checked ~ .caption-btn__wrapper .caption__wrap {
  margin-left: -100%;
}
#btn3:checked ~ .caption-btn__wrapper .caption__wrap {
  margin-left: -200%;
}
#btn4:checked ~ .caption-btn__wrapper .caption__wrap {
  margin-left: -300%;
}

@media screen and (max-width: 768px) {

  .caption-btn__wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4em;
  }

  .slider__controls {
    margin: auto;
  }

  .captions {
    text-align: center;
  }
}